*{
	box-sizing:border-box;
}
body{
	background-color:#22254b;
	font-family:sans-serif;
	margin:0;
}
header{
	background-color:#373b69;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding:1rem;
	margin-bottom:10px;
}
header h2{
	color:#fff;
}
.search{
	background-color:#fff;
	color:#000;
	border: 2px solid #22254b;
	border-radius:50px;
	font-family:inherit;
	font-size:1rem;
	padding:0.5rem 1rem;
}
.search::placeholder{
	color:#000;
}
.search:focus{
	background-color:#fff;
	outline:none;
}
form{
	display:flex;
	flex-direction:column;
}
form button{
	background-color:#22254b;
	color:#fff;
	border: none;
	border-radius:50px;
	font-family:inherit;
	font-size:1rem;
	padding:0.5rem 1rem;
	margin-top:10px;
}


main{
	display:flex;
	flex-wrap:wrap;
}
.movie{
	background-color:#373b69;
	border-radius:3px;
	box-shadow:0 4px 5px rgba(0,0,0,0.2);
	margin:1rem;
	width:300px;
	overflow:hidden;
	position:relative;
}
.movie img{
	width:100%;
}


.movie-info{
	color:#eee;
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding:0.5rem 1rem 1rem;
	letter-spacing:0.5px;
}
.movie-info h3{
	margin:0;
}
.movie-info span{
	background-color:#22254b;
	border-radius:3px;
	padding:0.25rem 0.5rem;
	font-weight:bold;
}

.movie-info span.green{
	color: #0f0;
}

.movie-info span.orange{
	color:orange;
}

.movie-info span.red{
	color:red;
}

.overview{
	background-color:#fff;
	padding:2rem;
	position:absolute;
	max-height: 100%;
	overflow:auto;
	left:0;
	bottom:0;
	right:0;
	transform:translateY(100%);
	transition: transform 0.3s ease-in;
}
.movie:hover .overview{
	transform:translateY(0);
}
.overview h4{
	margin-top:10;
}


section{
	background-color:#373b69;
	overflow:auto;
	left:0;
	bottom:0;
	right:0;
	transition: transform 0.3s ease-in;
}
.mostrarInfo{
	height: 100%;
	width:1024px;
	margin:auto;
	padding:20px;
}
.mostrarInfo img{
	width:200px;
	float:left;
}
.mostrarInfo .movie-info{
	color:#ccc;
}
.mostrarInfo .mostrarInfo .movie-info h3{
	margin:0;
}
.mostrarInfo .movie-info span{
	background-color:#22254b;
	border-radius:3px;

}


.mostrarInfo .movie-info span.green{
	color: #0f0;
}

.mostrarInfo .movie-info span.orange{
	color:orange;
}

.mostrarInfo .movie-info span.red{
	color:red;
}

.mostrarInfo .overview{
	background-color:#373b69;
	color:#fff;
	padding:2rem;
	position:relative;
	max-height: 100%;
	overflow:auto;
	left:0;
	bottom:0;
	right:0;
	transform:translateY(0);
	transition: transform 0.3s ease-in;
}

.imgShowSelect{
	height:100vh;
	width:100%;
	background-color:#000;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.imgShowSelect img{
	width:300px;
	z-index:5000;
}
.imgShowSelect button{
	padding:8px 8px;
	border-radius:50%;
	border:2px solid #fff;
	color:#fff;
	background-color:transparent;
	margin-bottom:100px;
}